@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: theme('fontFamily.sans');
  background-color: #020617; /* slate-950 */
  color: #e2e8f0; /* slate-200 */
}
